<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content">
  <h1>Members Create</h1>
  <div>
  	<form method="POST" id="member-form" th:object="${memberForm}" th:action="${member ne null} ? @{'/members/' + ${member.id}} : @{/members}">
     <input th:if="${member ne null}" type="hidden" name="_method" value="PUT"/>
     <input th:if="${member ne null}" type="hidden" id="member-id" name="member-id" th:value="${member.id}"/>
     <div>
      <span class="label label-default" for="name">Name</span>
      <input type="text" id="name" name="name" th:value="${memberForm.name}"/>
      <div>
       <span th:errors="*{name}" class="text-danger"></span>
      </div>
     </div>
     <div>
      <span class="label label-default" for="email">Email</span>
      <input type="email" id="email" name="email" th:value="${memberForm.email}"/>
      <div>
       <span th:errors="*{email}" class="text-danger"></span>
      </div>
     </div>
   </form>
   <button type="button" id="btn-submit" class="btn btn-success">Submit</button>
   <button type="button" id="btn-cancel" class="btn btn-default">Cancel</button>
   <button th:if="${member ne null}" type="button" id="btn-delete" class="btn btn-danger">Delete</button>
  </div>
</div>

<div layout:fragment="script-lib">
	<script th:src="@{/js/members-detail.js}"></script>
</div>

</html>