<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content">
 <h1>Members</h1>
 <div class="btn-group text-right" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" id="btn-create-member">Create Member</button>
 </div>
 <div>
  <table class="table table-striped table-hover">
   <thead>
    <tr>
     <th>#Id</th>
     <th>Name</th>
     <th>Email</th>
     <th>CreatedDate</th>
     <th></th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="member: ${page.content}">
     <td>
      <a th:href="@{'/members/' + ${member.id}}" th:text="${member.id}">Member sequence</a>
     </td>
     <td>
       <a th:href="@{'/members/' + ${member.id}}" th:text="${member.name}">Member name</a>
     </td>
     <td>
       <a th:href="@{'/members/' + ${member.id}}" th:text="${member.email}">Member email</a>
     </td>
     <td>
       <a th:href="@{'/members/' + ${member.id}}"  th:text="${member.createdDate}">Member created date</a>
     </td>
     <td>
      <button type="button" class="btn btn-danger member-delete" ><i class="glyphicon glyphicon-remove" th:attr="data-member-id=${member.id}"></i>Delete</button>
     </td>
    </tr>
    <tr th:if="${page.content.empty}">
     <td colspan="4" class="text-center">No data</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>

<div layout:fragment="script-lib">
 <script th:src="@{js/members-main.js}"></script>
</div>

</html>